@keyframes modal-bounce-bottom {
  0% {
    transform: translateY(80px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.modal_in {
  animation: modal-bounce-bottom 0.8s;
}

.no_flip {
  width: 100%;
  height: 10px;
}

.flip {
  width: 100%;
  height: 10px;
  position: relative;
  cursor: pointer;
}

.form {
  width: 100%;
  height: 100%;
  position: relative;
  transition: 0.4s;
  transform-style: preserve-3d;
}

.flip:hover .form {
  transform: rotateY(180deg);
}

.front {
  width: 100%;
  align-items: center;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
}

.back {
  width: 100%;
  align-items: center;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  transform: rotateY(180deg);
}
